.App{
  width: 70%;
  max-width: 600px;
  min-width: 400px;
  margin: 20px auto;
}

.list-wrp{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.list-item-wrp{
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 5px;
}

.list-item{
  border: 1px solid #b9b9b9;
  padding: 10px 20px;
  height: 100%;
  box-sizing: border-box;
}

.rating-wrp{
  border-top: 1px solid black;
  padding: 10px 0 10px;
}